@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.title{
  font-size: 50px;
  margin: auto;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  text-decoration: none;
}

/*****  NAVIGATIONBAR  *****/
nav{
  display: flex;
  height: 80px;
  width: 100%;
  background: black;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 15px;
  flex-wrap: wrap;
}
/*Logo Footyplay text area*/
.logo-area{
  height: 80px;
  width: 300px;
  display: flex;
}
/*Logo styling*/
nav .logo img{
    width: auto;
    height: 60px;
    margin-top: 10px;
}
/*Navigationbar Footyplay text*/
nav .footyplay{
  font-size: 40px;
  font-weight: 600;
  margin: auto;
  text-decoration: none;
}
/*Navigationbar links*/
nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li{
  margin: 0 5px;
}
nav ul li a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}


nav .menu-btn i{
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"]{
  display: none;
}

/*Perimeter for transformation of navigationbar*/
@media (max-width: 1000px){
  nav{
    padding: 0 40px 0 50px;
  }
}
@media (max-width: 920px) {
  nav .menu-btn i{
    display: block;
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  /*****  STYLING FOR RESPONSIVE NAVIGATIONBAR  *****/
  nav ul{
    position: fixed;
    top: 80px;
    left: -100%;
    background: #111;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
    z-index: 10;
  }
  #click:checked ~ ul{
    left: 0;
  }
  nav ul li{
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a{
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover{
    background: none;
    color: cyan;
  }
}

/* #################   FOOTER STYLING   ################# */
.footer {
  margin-top: 100px;

}
.footer {
  background-color: black;
  height: 250px;
  padding: 70px 0;
  line-height: 1.5;
}
.footer-center span {
  margin-right: 1rem;
}


.footer-center a:link,
.footer-center a:visited {
  display: block;
  color: var(--grey2);
  font-size: 1.4rem;
  transition: 0.6s;
}

.footer-center a:hover {
  color: var(--pink);
}

.footer-center div {
  color: var(--grey2);
  font-size: 1.4rem;
}

.footer-center h3 {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.footer .row{
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: auto auto auto;
}

.footer-col {
  width: 100%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}


/* #################   FORSIDE STYLING   ################# */
/*****  MODAL STYLING *****/
/* Center the image and position the close button */
.imgcontainer {
  text-align: right;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 50px;
}

span.psw {
  float: right;
  padding-top: 16px;
  position: absolute;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}
.modal h1 {
    text-align: center;
    color: #5b6574;
    font-size: 24px;
    padding: 20px 0 20px 0;
    margin: auto;
    border-bottom: 1px solid #dee0e4;
}
.modal form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}
/*Icon styling*/
.modal form label {
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  width: 50px;
  height: 50px;
  background-color: black;
  color: #ffffff;
}
/*Submit button styling*/
.modal form input[type="submit"] {
  width: 100%;
  padding: 15px;
  margin-top: 20px;
  background-color: black;
  border: 0;
  cursor: pointer;
  font-weight: bold;
  color: #ffffff;
  transition: background-color 0.2s;
}
.modal form input[type="submit"]:hover {
background-color: rgb(4, 185, 4);
  transition: background-color 0.2s;
}

/* The Close Button (x) */
.close {
  position: relative;
  right: 25px;
  top: 0;
  float: right;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation when opening modal */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}
/*For Safari*/
@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
}

/*****  LOG IN MODAL STYLING *****/
.login {
  width: 450px;
  background-color: #ffffff;
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
  margin: 100px auto;
}

.login form input[type="password"], .login form input[type="text"] {
  width: 300px;
  height: 50px;
  border: 1px solid #dee0e4;
  margin-bottom: 20px;
  padding: 0 15px;
}

/*****  SIGN UP MODAL STYLING  *****/
.sign-up {
  width: 450px;
  background-color: white;
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
  margin: 100px auto;
}
.sign-up form input[type="password"], .sign-up form input[type="text"], .sign-up form input[type="email"], .sign-up form select[name="favTeam"] {
    width: 300px;
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
}

/*****  VIDEO MODAL STYLING  *****/
.modal-videos {
  width: 600px;
  background-color: white;
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
  margin: 100px auto;
}

/*Video gallery grid layout*/
.grid-container {
  width: 1040px;
  margin: auto;
  display: grid;
  grid-template-columns: auto auto;
}
.grid-container h3 {
  margin: auto;
  padding: 20px;
}

.grid-container a{
  background-color: black;
  color: white;
  padding: 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.grid-container a:hover, .grid-container a:active {
  background-color: black;
  transition: all 0.3s ease;
}

/* #################  INDEX FORSIDE STYLING   ################# */
#fs-standings{
  width: 1000px;
  margin: auto;
}

.indexpage .image-slideshow{
  margin-top: 25px;
}

/* #################  LOGGEDIN HOMEPAGE STYLING   ################# */
/*Profile and Logout buttons*/
body.homepage {
	background-color: #f3f4f7;
}

.homepage-content {
	width: 1000px;
	margin: 0 auto;

}
.homepage-content h2 {
	margin: 0;
	padding: 25px 0;
	font-size: 22px;
	border-bottom: 1px solid #e0e0e3;
	color: #4a536e;
}
.homepage-content > p, .content > div {
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
	margin: 25px 0;
	padding: 25px;
	background-color: #fff;
}
.homepage-content > p table td, .homepage-content > div table td {
	padding: 5px;
}
.homepage-content > p table td:first-child, .homepage-content > div table td:first-child {
	font-weight: bold;
	color: #4a536e;
	padding-right: 15px;
}
.homepage-content > div p {
	padding: 5px;
	margin: 0 0 10px 0;
}

.homepage nav ul li a.active,
.homepage nav ul li a:hover{
  color: white;
  background: none;
}

/*Homepage slideshow*/
.image-slideshow {
	width: 1000px;
  height: 563px;
  margin: auto;
  margin-bottom: 20px;
  overflow: hidden;
  white-space: nowrap;
  font-size: 0;
  position: relative;
}
.image-slideshow > div {
	width: 1000px;
  height: 400px;
	animation: move 15s ease-in-out 2s infinite alternate;
  display:inline-block;
}
/*.image-slideshow > div div {
	position: relative;
  bottom: 0;
  background: rgba(0,0,0,0.4);
  width: 100%;
}*/
.image-slideshow h2 {
	padding: 15px;
  margin: 0;
  font-size: 18px;
  color: #f9f9f9;
}
.image-slideshow p {
	padding: 0 15px 15px 15px;
  margin: 0;
  font-size: 14px;
  color: #dddddd;
}
@keyframes move {
	0%,30% { transform: translateX(0); }
  40%,70% { transform: translateX(-1000px); }
  80%,100% { transform: translateX(-2000px); }
}

/* #################  PROFILE PAGE STYLING   ################# */
body.profile {
	background-color: #f3f4f7;
}

.profile-content {
	width: 1000px;
	margin: 0 auto;
}
.profile-content h2 {
	margin: 0;
	padding: 25px 0;
	font-size: 22px;
	border-bottom: 1px solid #e0e0e3;
	color: #4a536e;
}
.profile-content > p, .profile-content > div {
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
	margin: 25px 0;
	padding: 25px;
	background-color: #fff;
}
.profile-content > p table td, .profile-content > div table td {
	padding: 5px;
}
.profile-content > p table td:first-child, .profile-content > div table td:first-child {
	font-weight: bold;
	color: #4a536e;
	padding-right: 15px;
}
.profile-content > div p {
	padding: 5px;
	margin: 0 0 10px 0;
}

.profile nav ul li a.active,
.profile nav ul li a:hover{
  color: white;
  background: none;
}

/* #################  ARSENAL PAGE STYLING   ################# */
body.arsenal {
	background-color: #f3f4f7;
}

.arsenal-content {
	width: 1000px;
	margin: 0 auto;
}
.arsenal-content h2 {
	margin: 0;
	padding: 25px 0;
	font-size: 22px;
	border-bottom: 1px solid #e0e0e3;
	color: #4a536e;
}
.arsenal-content > p, .arsenal-content > div {
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
	margin: 25px 0;
	padding: 25px;
	background-color: #fff;
}
.arsenal-content > p table td, .arsenal-content > div table td {
	padding: 5px;
}
.arsenal-content > p table td:first-child, .arsenal-content > div table td:first-child {
	font-weight: bold;
	color: #4a536e;
	padding-right: 15px;
}
.arsenal-content > div p {
	padding: 5px;
	margin: 0 0 10px 0;
}

.arsenal nav ul li a.active,
.arsenal nav ul li a:hover{
  color: white;
  background: none;
}


/* #################  FAQ PAGE STYLING   ################# */
.faq {
  margin: auto;
  font-size: 25px;
  margin-bottom: 40px;
  max-width: 1000px;
}
.questions-container{
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 20px;
}

.question{
  border-bottom: 1px solid #fff;
}
.question button{
  width: 100%;
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15px;
  border:none;
  outline: none;
  font-size: 22px;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}
.question p{
  font-size: 22px;
  max-height: 0;
  opacity: 0;
  line-height: 1.5;
  overflow: hidden;
  transition: all 0.6s ease;
}
.d-arrow{
  transition: transform 0.5s ease-in ;
  color: #fff;
}

/*add this class when click*/
.question p.show{
  max-height: 200px; 
  opacity: 1;
  padding:0px 15px 30px 15px;
}
.question button .d-arrow.rotate{
  transform: rotate(180deg);
}


/* #################  REPORT ISSUE PAGE STYLING   ################# */
.report-container {
  margin: auto;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
  padding: 30px;
  padding-bottom: 10px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  max-width: 1000px;
}

.fcf-form-group {
  margin-bottom: 1rem;
}

.fcf-input-group {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
}

.fcf-form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  outline: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.fcf-form-control:focus {
  border: 1px solid #313131;
}

select.fcf-form-control[size], select.fcf-form-control[multiple] {
  height: auto;
}

textarea.fcf-form-control {
  font-family: -apple-system, Arial, sans-serif;
  height: auto;
}

label.fcf-label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.fcf-credit {
  padding-top: 10px;
  font-size: 0.9rem;
  color: #545b62;
}

.fcf-credit a {
  color: #545b62;
  text-decoration: underline;
}

.fcf-credit a:hover {
  color: #0056b3;
  text-decoration: underline;
}

.fcf-btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .fcf-btn {
      transition: none;
  }
}

.fcf-btn:hover {
  color: #212529;
  text-decoration: none;
}

.fcf-btn:focus, .fcf-btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.fcf-btn-primary {
  color: #fff;
  background-color: black;
  border-color:  grey;
}

.fcf-btn-primary:hover {
  color: #fff;
  background-color: #2b2b2b;
  border-color: #0062cc;
}


.fcf-btn-lg, .fcf-btn-group-lg>.fcf-btn {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}

.fcf-btn-block {
  display: block;
  width: 100%;
}

.fcf-btn-block+.fcf-btn-block {
  margin-top: 0.5rem;
}

input[type="submit"].fcf-btn-block, input[type="reset"].fcf-btn-block, input[type="button"].fcf-btn-block {
  width: 100%;
}

/**/
.video{
  display:none;
}
.imgID img{
  width:100px;
  height:56px;
  cursor:pointer;
}