@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

h1{
  margin-left: 15px;
}

/*****  NAVIGATIONBAR  *****/
nav{
  display: flex;
  height: 80px;
  width: 100%;
  background: black;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 15px;
  flex-wrap: wrap;
}
/*Logo Footyplay text area*/
.logo-area{
  height: 80px;
  width: 300px;
  display: flex;
}
/*Logo styling*/
nav .logo img{
    width: auto;
    height: 60px;
    margin-top: 10px;
}
/*Navigationbar Footyplay text*/
nav .footyplay{
  font-size: 40px;
  font-weight: 600;
  margin: auto;
  text-decoration: none;
}
/*Navigationbar links*/
nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li{
  margin: 0 5px;
}
nav ul li a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}


nav .menu-btn i{
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"]{
  display: none;
}

/*Perimeter for transformation of navigationbar*/
@media (max-width: 1000px){
  nav{
    padding: 0 40px 0 50px;
  }
}
@media (max-width: 920px) {
  nav .menu-btn i{
    display: block;
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  /*****  STYLING FOR RESPONSIVE NAVIGATIONBAR  *****/
  nav ul{
    position: fixed;
    top: 80px;
    left: -100%;
    background: #111;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul{
    left: 0;
  }
  nav ul li{
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a{
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover{
    background: none;
    color: cyan;
  }
}


/* #################   FORSIDE STYLING   ################# */



/*****  MODAL STYLING *****/
/* Center the image and position the close button */
.imgcontainer {
  text-align: right;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 50px;
}

span.psw {
  float: right;
  padding-top: 16px;
  position: absolute;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}
.modal h1 {
    text-align: center;
    color: #5b6574;
    font-size: 24px;
    padding: 20px 0 20px 0;
    margin: auto;
    border-bottom: 1px solid #dee0e4;
}
.modal form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}
/*Icon styling*/
.modal form label {
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  width: 50px;
  height: 50px;
  background-color: black;
  color: #ffffff;
}
/*Submit button styling*/
.modal form input[type="submit"] {
  width: 100%;
  padding: 15px;
  margin-top: 20px;
  background-color: black;
  border: 0;
  cursor: pointer;
  font-weight: bold;
  color: #ffffff;
  transition: background-color 0.2s;
}
.modal form input[type="submit"]:hover {
background-color: rgb(4, 185, 4);
  transition: background-color 0.2s;
}

/* The Close Button (x) */
.close {
  position: relative;
  right: 25px;
  top: 0;
  float: right;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation when opening modal */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}
/*For Safari*/
@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
}

/*****  LOG IN MODAL STYLING *****/
.login {
  width: 450px;
  background-color: #ffffff;
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
  margin: 100px auto;
}

.login form input[type="password"], .login form input[type="text"] {
  width: 300px;
  height: 50px;
  border: 1px solid #dee0e4;
  margin-bottom: 20px;
  padding: 0 15px;
}

/*****  SIGN UP MODAL STYLING  *****/
.sign-up {
  width: 450px;
  background-color: white;
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
  margin: 100px auto;
}
.sign-up form input[type="password"], .sign-up form input[type="text"], .sign-up form input[type="email"] {
    width: 300px;
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
}

/* #################  LOGGEDIN HOMEPAGE STYLING   ################# */
/*Profile and Logout buttons*/
body.homepage {
	background-color: #f3f4f7;
}

.homepage-content {
	width: 1000px;
	margin: 0 auto;
}
.homepage-content h2 {
	margin: 0;
	padding: 25px 0;
	font-size: 22px;
	border-bottom: 1px solid #e0e0e3;
	color: #4a536e;
}
.homepage-content > p, .content > div {
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
	margin: 25px 0;
	padding: 25px;
	background-color: #fff;
}
.homepage-content > p table td, .homepage-content > div table td {
	padding: 5px;
}
.homepage-content > p table td:first-child, .homepage-content > div table td:first-child {
	font-weight: bold;
	color: #4a536e;
	padding-right: 15px;
}
.homepage-content > div p {
	padding: 5px;
	margin: 0 0 10px 0;
}

.homepage nav ul li a.active,
.homepage nav ul li a:hover{
  color: white;
  background: none;
}

/*Homepage slideshow*/
.image-slideshow {
	width: 1000px;
  height: 300px;
  margin: auto;
  margin-bottom: 20px;
  overflow: hidden;
  white-space: nowrap;
  font-size: 0;
  position: relative;
}
.image-slideshow > div {
	width: 1000px;
  height: 300px;
	animation: move 15s ease-in-out 2s infinite alternate;
  display:inline-block;
}
.image-slideshow > div div {
	position: absolute;
  bottom: 0;
  background: rgba(0,0,0,0.4);
  width: 100%;
}
.image-slideshow h2 {
	padding: 15px;
  margin: 0;
  font-size: 18px;
  color: #f9f9f9;
}
.image-slideshow p {
	padding: 0 15px 15px 15px;
  margin: 0;
  font-size: 14px;
  color: #dddddd;
}
@keyframes move {
	0%,30% { transform: translateX(0); }
  40%,70% { transform: translateX(-1000px); }
  80%,100% { transform: translateX(-2000px); }
}

/* #################  PROFILE PAGE STYLING   ################# */
body.profile {
	background-color: #f3f4f7;
}

.profile-content {
	width: 1000px;
	margin: 0 auto;
}
.profile-content h2 {
	margin: 0;
	padding: 25px 0;
	font-size: 22px;
	border-bottom: 1px solid #e0e0e3;
	color: #4a536e;
}
.profile-content > p, .profile-content > div {
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
	margin: 25px 0;
	padding: 25px;
	background-color: #fff;
}
.profile-content > p table td, .profile-content > div table td {
	padding: 5px;
}
.profile-content > p table td:first-child, .profile-content > div table td:first-child {
	font-weight: bold;
	color: #4a536e;
	padding-right: 15px;
}
.profile-content > div p {
	padding: 5px;
	margin: 0 0 10px 0;
}

.profile nav ul li a.active,
.profile nav ul li a:hover{
  color: white;
  background: none;
}